{
  "extends": ["react-app", "airbnb"],
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
    "react/jsx-props-no-spreading": 0,
    "linebreak-style": 0,
    // "no-use-before-define": ["error", { "functions": false, "classes": false, "variables": false }]
    // "no-use-before-define": ["error", { "functions": false }]
    "react/jsx-one-expression-per-line": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
